
.header {
    background-image: url('../../../public/images/header_bg_image.jpg');
    background-position: bottom;
    height: 35vh;
}

.header__banner {
    display: flex;
    justify-content: space-between;
    padding: 3.5rem;
    margin-left: 1rem;
}

.slogan {
    font-size: 5.5rem;
    margin-left: 3rem;
}


img {
    width: 200px;
    height: 200px;
}

.fadeBottom {
    height: 1.5rem;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(60, 60, 60, 1),
        black
    );
}